<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>인덱스 페이지</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/modal.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
<header class="header pd10">
    <div class="header-container">
        <div class="header-img-box">
            <a href="/index"><img src="/img/okky-logo.png" alt="logo-img"></a>
        </div>
        <div class="header-nav-box">
            <ul>
                <li>커뮤니티</li>
            </ul>
            <ul>
                <li>공지사항</li>
            </ul>
            <ul>
                <li>이벤트</li>
            </ul>
            <ul>
                <li>Q&A</li>
            </ul>
            <div class="header-nav-box-login-box">
                <button>로그인</button>
                <button>회원가입</button>
            </div>
        </div>

        <div class="header-icon-box">
            <span class="burger-icon"></span>
        </div>
    </div>
</header>
    <div class="container">
        <div class="content"></div>
    </div>

    <div class="modal">
        <div class="modal-container">
            <div class="modal-container-header">
                <div class="modal-container-header-column">
                    <div class="modal-container-header-column-img-box">
                        <a href="/index"><img src="/img/okky-logo.png" alt="log img"></a>
                    </div>

                    <div class="modal-container-header-column-icon-box">
                        <span class="cross-icon"></span>
                    </div>
                </div>
            </div>
            <div class="modal-container-body">
                <ul>
                    <li>커뮤니티</li>
                </ul>
                <ul>
                    <li>공지사항</li>
                </ul>
                <ul>
                    <li>이벤트</li>
                </ul>
                <ul>
                    <li>Q&A</li>
                </ul>
            </div>

            <div class="modal-container-footer">
                <div class="modal-container-footer-login-box">
                    <button>로그인</button>
                    <button>회원가입</button>
                </div>
            </div>
        </div>
    </div>

<footer class="footer"></footer>
<script>
    const modal_click = document.querySelector(".burger-icon");
    const modal = document.querySelector('.modal');

    modal_click.onclick = function() {
        modal.style.display = 'block';
    }

    function joinUser() {
        let param = {};

        console.log(param);


    }


</script>
</body>
</html>